@charset "UTF-8";
:root {
  --text-primary-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #fff;
  --btn-prim-color: #F5F4FA;
  --footer-color: #2F303A;
  --header-logo-color: #000;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --header-border-color: #ECECEC;
  --border-portfolio-color: #EEEEEE;
  --btn-alternative-hover-color: #188CE8;
  --icon-color: #AFB1B8;
  --footer-link-color: #ffffff1a;
  --bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--white-color);
  color: var(--text-primary-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1, h2, h3, h4, p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*убирает маркеры возле ненумер списков*/
ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

button {
  /*font-family: inherit; принудительное унаследование от боди для кнопок*/
  cursor: pointer;
  /*курсор ладонь*/
  display: block;
  border: none;
  border-radius: 4px;
}

/*studio and portfolio*/
/*h3*/
.title {
  color: var(--text-primary-color);
}

/*p*/
.text {
  color: var(--text-color);
}

/*h2*/
.title-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--text-primary-color);
}

/*m+t*/
@media screen and (max-width: 1199px) {
  .title-section {
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 30px;
  }
}
section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}

.logo-right-header-span {
  color: var(--header-logo-color);
}

.footer-logo {
  color: var(--white-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}
/*=================команда==============*/
.social-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);
  background-color: var(--white-color);
  transition: background-color 250ms var(--bezier), color 250ms var(--bezier);
  /*при ховері на посилання - великий кружок- змінює колір*/
}
.social-list-link:hover, .social-list-link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

/*прои ховері на ссилку (велике коло44х44) svg змінює колір
.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon{
    fill: var(--white-color);
}*/
.social-list-icon {
  fill: currentColor;
}

/*============= кнопки портфолио =============*/
.portfolio__btn-list {
  display: flex;
  justify-content: center;
  column-gap: 8px;
  margin-bottom: 50px;
}

.portfolio__btn-list-item {
  display: inline-block;
  padding: 6px 22px;
  color: var(--text-primary-color);
  background-color: var(--btn-prim-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  transition: color 250ms var(--bezier), background-color 250ms var(--bezier), box-shadow 250ms var(--bezier);
}
.portfolio__btn-list-item:hover, .portfolio__btn-list-item:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 767px) {
  .portfolio__btn-list {
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 15px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__btn-list {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 767px) {
  .mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: var(--white-color);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms var(--bezier), visibility 250ms var(--bezier);
  }
  .mob-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mob-menu_container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 40px;
    height: 100vh;
  }
  .mob-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    padding: 0;
    line-height: 0;
  }
  .mob-menu__close-icon {
    width: 40px;
    height: 40px;
    transition: fill 250ms var(--bezier);
  }
  .mob-menu__close-icon:hover, .mob-menu__close-icon:focus {
    fill: var(--accent-color);
  }
  .mob-menu__nav {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }
  .mob-menu__nav-link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--text-primary-color);
    transition: color 250ms var(--bezier);
  }
  .mob-menu__nav-link:hover, .mob-menu__nav-link:focus, .mob-menu__nav-link.current {
    color: var(--accent-color);
  }
  .mob-menu__contacts {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }
  .mob-menu__tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .mob-menu__mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--text-color);
  }
  .mob-menu__social {
    display: flex;
    flex-wrap: wrap;
    margin-top: 64px;
  }
  .mob-menu__social-item {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .mob-menu__social-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    padding: 0 10px;
  }
  .padd-none {
    padding-left: 0;
  }
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}
.social-list-link.footer {
  background-color: var(--footer-link-color);
  color: var(--white-color);
  transition: background-color 250ms var(--bezier);
}

.social-list-icon.footer {
  fill: currentColor;
}

.social-list-link.footer:hover,
.social-list-link.footer:focus {
  background-color: var(--accent-color);
}

/*===================backdrop=================*/
.backdrop {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.backdrop.is-hidden {
  opacity: 0;
  /*майже однакова властивість різні браузери виберуть свій*/
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms var(--bezier), visibility 5000ms var(--bezier);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 609px;
  background-color: var(--white-color);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--bezier);
  padding: 40px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--header-logo-color);
  background-color: var(--white-color);
  /* margin-left: auto;
  margin-top: 8px;
  margin-right: 8px; займає місце в потоці*/
}

.icon-close-black {
  transition: fill 500ms var(--bezier);
}
.modal-close:hover .icon-close-black {
  fill: var(--accent-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--text-primary-color);
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  /*перевернула ось для флекса*/
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-field.textaria {
  margin-bottom: 20px;
}

.modal-form-label-name {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
  margin-bottom: 4px;
}

.modal-form-input-thumb {
  position: relative;
  display: block;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms var(--bezier);
}

/*====================== focus-within + hoveer==============*/
.modal-form-field:focus-within .modal-form-input,
.modal-form-field:hover .modal-form-input,
.modal-form-field:focus-within .modal-form-message,
.modal-form-field:hover .modal-form-message {
  border-color: var(--accent-color);
}

/*======================================================*/
.modal-form-input:focus,
.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms var(--bezier);
  /*====================== focus-within + hoveer==============*/
}
.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--accent-color);
}
.modal-form-field:focus-within .modal-form-input-icon, .modal-form-field:hover .modal-form-input-icon {
  fill: var(--accent-color);
}

.modal-form-checkbox-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: var(--text-color);
}

.link-agreement {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  text-decoration-line: underline;
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .modal-form-checkbox-text {
    font-size: 14px;
    line-height: 1.71;
  }
  .link-agreement {
    font-size: 14px;
    line-height: 1.71;
  }
}
.modal-form-message {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  transition: border-color 250ms var(--bezier);
}
.modal-form-message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-checkbox-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

/*прячем родной чекбокс*/
.modal-form-checkbox {
  position: absolute;
  appearance: none;
}

.modal-form-own-checkbox {
  border-radius: 2px;
  border: 2px solid var(--text-primary-color);
  fill: var(--white-color);
  margin-right: 7px;
}
.modal-form-checkbox:checked + .modal-form-own-checkbox {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
.modal-form-checkbox:focus + .modal-form-own-checkbox {
  border-color: var(--accent-color);
}

.btn-form-submit {
  align-self: center;
  width: 200px;
  height: 50px;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms var(--bezier);
}
.btn-form-submit:hover {
  background-color: var(--btn-alternative-hover-color);
}

/*========================footer-form==================*/
.footer-form {
  text-align: center;
}

.footer-form-title {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer-form-input {
  width: 450px;
  height: 50px;
  padding: 15px 16px;
  background-color: var(--footer-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); */
  border-radius: 4px;
  color: var(--white-color);
}
.footer-form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.btn-footer-submit {
  display: inline-flex;
  align-items: center;
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms var(--bezier);
}
.btn-footer-submit:hover {
  background-color: var(--btn-alternative-hover-color);
}

.icon-send {
  margin-left: 10px;
  fill: var(--white-color);
}

/*mob*/
@media screen and (max-width: 767px) {
  .footer-form-input {
    width: 100%;
    margin-bottom: 20px;
  }
}
/*tab*/
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer-form-subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form-subscribe {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .footer-form {
    margin-left: auto;
    text-align: left;
  }
  .footer-form-input {
    width: 358px;
  }
}
header {
  border-bottom: 1px solid var(--header-border-color);
}

.heder__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*активная страница сайта*/
.header__nav-menu-link.current {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .header__nav-menu,
.header__contacts {
    display: none;
  }
  .logo-header-menu {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .open-menu-mob-btn {
    line-height: 0;
    background-color: transparent;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .burger-icon {
    width: 40px;
    height: 40px;
    transition: fill 250ms var(--bezier);
  }
  .burger-icon:focus, .burger-icon:hover {
    fill: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .open-menu-mob-btn {
    display: none;
  }
  .header__nav {
    display: flex;
    align-items: center;
  }
  .logo-header-menu {
    padding-bottom: 26px;
    padding-top: 26px;
  }
  .header__nav-menu {
    display: flex;
    column-gap: 50px;
    margin-left: 88px;
  }
  .header__nav-menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-primary-color);
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms var(--bezier);
  }
  .header__nav-menu-link:hover, .header__nav-menu-link:focus {
    color: var(--accent-color);
  }
  /*------------------------------полоска под каррент--------*/
  .thumb-current {
    position: relative;
  }
  .thumb-current::after {
    display: block;
    position: absolute;
    content: "";
    height: 4px;
    width: 100%;
    bottom: 0;
    background-color: var(--accent-color);
    border-radius: 2px;
    opacity: 0;
  }
  .current.thumb-current::after {
    opacity: 1;
  }
  /*--------------------------------*/
  .header__contacts-link {
    display: flex;
    align-items: center;
    /* color: inherit; */
    color: var(--text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms var(--bezier);
  }
  .header__contacts-link:hover, .header__contacts-link:focus {
    color: var(--accent-color);
  }
  .contacts-icon {
    /* fill: var(--icon-color); */
    fill: currentColor;
    margin-right: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .header__contacts {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  .header__contacts-link.mail {
    padding-top: 21px;
  }
  .header__contacts-link.tel {
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .heder__container {
    justify-content: flex-start;
  }
  .header__contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
    column-gap: 30px;
  }
  .header__contacts-link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Hero_mob.jpg);
  background-color: #C4C4C4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 118px 0;
}

.hero-title {
  margin: 0 auto;
  margin-bottom: 30px;
  color: var(--white-color);
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/*кнопка героя*/
.btn-hero {
  display: inline-block;
  min-width: 200px;
  padding: 10px 24px;
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  transition: background-color 250ms var(--bezier), box-shadow 250ms var(--bezier);
}
.btn-hero:focus, .btn-hero:hover {
  background-color: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*mob*/
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Hero_mob@2x.jpg);
  }
}
/*tab*/
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Hero_tabl.jpg);
    max-width: 768px;
    height: 400px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Hero_tabl@2x.jpg);
  }
}
/* deck*/
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero.jpg);
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
  }
  .hero-title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero@2x.jpg);
  }
}
/*================= особливості =================*/
/*ul*/
.especially__list {
  display: flex;
  gap: 30px;
}

/*li*/
.especially-item {
  flex-basis: calc((100% - 90px) / 4);
}
.especially-item::before {
  display: block;
  content: "";
  height: 120px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--btn-prim-color);
}

.icon-antenna::before {
  background-image: url(../images/svg/antenna.svg);
}

.icon-clok::before {
  background-image: url(../images/svg/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/svg/diagram.svg);
}

.icon-astronavt::before {
  background-image: url(../images/svg/astronaut.svg);
}

.especially {
  /*h3*/
  /*p*/
}
.especially .title {
  margin-bottom: 10px;
  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.especially .text {
  line-height: 1.71;
}

/*mob*/
@media screen and (max-width: 767px) {
  .especially__list {
    flex-direction: column;
  }
  .title {
    text-align: center;
  }
}
/*tab*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .especially__list {
    flex-wrap: wrap;
  }
  .especially-item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
/*=============== made =чим ми займаємося===============*/
.made {
  padding-top: 0;
  /*h2*/
}
.made .title-section {
  margin-bottom: 50px;
}

/*ul*/
.made__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

/*li*/
.made__item {
  flex-basis: calc((100% - 60px) / 3);
}

.made__thumb {
  position: relative;
}

.made__text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
  width: 100%;
  height: 70px;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

@media screen and (max-width: 1199px) {
  .made {
    display: none;
  }
}
/* ========================= команда ====================*/
.team {
  background-color: var(--btn-prim-color);
  /*h3*/
  /*p*/
}
.team .title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team .text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

/*ul выше описаны*/
.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

/*li*/
.team__items-employees {
  flex-basis: calc((100% - 90px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
}

.team__cards-title {
  padding-top: 30px;
  padding-bottom: 30px;
}

/*mob*/
@media screen and (max-width: 767px) {
  .team__list {
    flex-direction: column;
  }
}
/*tab*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    flex-wrap: wrap;
  }
  .team__items-employees {
    flex-basis: calc((100% - 30px) / 2);
  }
}
/*ul*/
.client__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

/*a*/
.client__list-link {
  display: flex;
  width: 210px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
  transition: color 250ms var(--bezier), border 250ms var(--bezier);
}
.client__list-link:hover, .client__list-link:focus {
  /* background-color: var(--accent-color) ; */
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/*цвет и размер иконок по умолчанию*/
.client__list-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client__list-link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .client__list-link {
    width: 170px;
  }
}
/*ul*/
.portfolio__cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

/*li*/
.portfolio__cards-list-item {
  flex-basis: calc((100% - 60px) / 3);
}

/*a====img++++div(h+p)*/
.portfolio__cards-list-link {
  display: block;
  /*чтоб сработал ховер и фокус на ссылку*/
  transition: box-shadow 250ms var(--bezier);
}
.portfolio__cards-list-link:focus, .portfolio__cards-list-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/*================наплывающая картинка при ховере====*/
/*разметка div=img+p(для оверлея)*/
.portfolio-thumb {
  position: relative;
  /*для позиционирования ребенка <p> absolut*/
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/*текст на оверлей(backdrop) с позиционированием +opasity 0*/
.portfolio-hover-text {
  position: absolute;
  /* opacity: 0;  убрали когда заменили бефор на екшенс*/
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-color);
  padding: 63px 24px;
}

/*описание псевдоелемента + opasity 0
.portfolio-thumb::before {

    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);*/
/* opacity: 0; */
/* transform: translateY(100%);
    transition: transform 2050ms var(--bezier);
} */
/*при наведении на ссылку a=thumb+h+p использовать 
псевдоелемент befor и текстдля оверлея с opasity 1*/
/* .portfolio__cards-list-link:hover .portfolio-thumb::before,
.portfolio__cards-list-link:hover .portfolio-hover-text {
    opacity: 1;
    transform: translateY(0);
}*/
.portfolio-actions {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  /* opacity: 0; */
  overflow: auto;
  /*скрол для текста*/
  transform: translateY(101%);
  transition: transform 250ms var(--bezier);
}
.portfolio__cards-list-link:hover .portfolio-actions, .portfolio__cards-list-link:focus .portfolio-actions {
  /* opacity: 1; */
  transform: translateY(0);
}

/*h2+p=div*/
.portfolio__cards-title {
  padding: 20px 24px;
  border-bottom: 1px solid var(--border-portfolio-color);
  border-left: 1px solid var(--border-portfolio-color);
  border-right: 1px solid var(--border-portfolio-color);
}

.portfolio {
  /*h2*/
  /*p*/
}
.portfolio .title {
  margin-bottom: 4px;
  text-align: left;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio .text {
  font-size: 16px;
  line-height: 1.88;
}

@media screen and (max-width: 767px) {
  .portfolio__cards-list {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__cards-list-item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .portfolio__cards-list-link {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .portfolio__cards-title {
    flex-grow: 1;
  }
}
/*================ footer ================*/
footer {
  background-color: var(--footer-color);
  padding: 60px 0;
}

address {
  margin-top: 20px;
}

.footer-address-item {
  margin-bottom: 8px;
}

.without-margin {
  margin-bottom: 0;
}

.footer-address-link,
.footer-contacts-link {
  color: var(--white-color);
  line-height: 1.71;
  font-style: normal;
  transition: color 250ms var(--bezier);
}

.footer-contacts-link {
  color: var(--footer-contacts-color);
}

.footer-address-link:hover,
.footer-address-link:focus,
.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: var(--accent-color);
}

/*p приєднуйтесь*/
.footer-title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
}

/*общий блок футера*/
.footer__block {
  display: flex;
  align-items: center;
}

/*mob*/
@media screen and (max-width: 767px) {
  .footer__block {
    flex-direction: column;
    row-gap: 60px;
  }
  address {
    margin-bottom: 60px;
  }
  .footer__block-logo-address {
    text-align: center;
  }
  .footer-title {
    text-align: center;
  }
}
/*tab*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__block {
    flex-direction: column;
    row-gap: 60px;
  }
  .footer__for-tablet {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    column-gap: 165px;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__block {
    align-items: baseline;
  }
  .footer__for-tablet {
    display: flex;
    align-items: baseline;
  }
  .footer__block-logo-address {
    margin-right: 70px;
  }
}/*# sourceMappingURL=main.css.map */