/* ========================= команда ====================*/
.team {
    background-color: var(--btn-prim-color);
/*h3*/
    .title {
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
    }
    /*p*/
    .text {
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        margin-bottom: 16px;
    }
}
/*ul выше описаны*/
.team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
/*li*/
.team__items-employees {
    flex-basis: calc((100% - 90px) / 4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--white-color);
}
.team__cards-title {
    padding-top: 30px;
    padding-bottom: 30px;
}

/*mob*/
@media screen and (max-width: 767px) {
    .team__list {
        flex-direction: column;
    }
}
/*tab*/
@media screen and (min-width: 768px) and(max-width: 1199px) {
    .team__list {
        flex-wrap: wrap;
    }

    .team__items-employees {
        flex-basis: calc((100% - 30px) / 2);
    }
   
}
