:root {
    --text-primary-color: #212121;
    --text-color: #757575;
    --accent-color: #2196f3;
    --white-color: #fff;
    --btn-prim-color: #F5F4FA;
    --footer-color: #2F303A;
    --header-logo-color: #000;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
    --header-border-color: #ECECEC;
    --border-portfolio-color: #EEEEEE;
    --btn-alternative-hover-color: #188CE8;
    --icon-color: #AFB1B8;
    --footer-link-color: #ffffff1a;
    --bezier: cubic-bezier(0.4, 0, 0.2, 1);
}